$font-size: 18px;
$body-background-color: rgba(255, 255, 255, 1);
$code-background-color: rgba(235, 235, 235, 1);
$code-block-background-color: #000;
$border-color: rgba(235, 235, 235, 1);
$color: rgba(0, 0, 0, 1);
$title-color: rgba(0, 0, 0, 1);
$link-color: rgba(0, 0, 238, 1);
$nav-color: rgba(0, 0, 0, 1);
$seperator-color: rgba(171, 171, 171, 0.8);
$promote-color: #f1e16a;
$side-width: 250px;
$nav-width: 250px;
$ipad-margin: 8%;
$iphone-margin: 20px;

@mixin margin-side($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin transform-macro($value) {
  transform: $value;
  -ms-transform: $value;   /* IE 9 */
  -moz-transform: $value;  /* Firefox */
  -webkit-transform: $value; /* Safari 和 Chrome */
  -o-transform: $value;  /* Opera */
}

@mixin transition-macro($value) {
  transition: $value;
  -moz-transition: $value; /* Firefox 4 */
  -webkit-transition: $value; /* Safari 和 Chrome */
  -o-transition: $value; /* Opera */
}

/* Eric Meyer's reset.css v1.0 | 20080212 */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, em, img, ins, kbd,
strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  color: $color;
  font-size: $font-size;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
  background-color: $body-background-color;
}

h1 {
  font-weight: normal;
}

strong {
  font-weight: bolder;
}

code {
  font-size: $font-size - 3px;
  font-family: Consolas, 'Courier New', Courier, monospace;
  background-color: $code-background-color;
  padding: 0 2px;
}

hr {
  border: 0;
  height: 0;
  width: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


a{
  text-decoration: none;
  &:link, &:visited {
    color: $link-color;
  }
  &:hover {
    color: red;
  }
  @include transition-macro(color 0.2s linear) ;
}

/* navigation */
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: none;
  background-color: rgba(247, 247, 247, 1);
  border-bottom: 1px solid $border-color;
  z-index: 10;

  #nav-button {
    display: inline-block;
    fill: $color;
    cursor: pointer;
    opacity: 0.7;
    margin: 10px 0 0 10px;
    &:hover {
      opacity: 1;
    }
  }
}

#nav-main {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  padding-top: 20px;
  width: $side-width;
  background-color: $body-background-color;
  border-right: 2px solid $border-color;
  overflow: auto;
  font-size: $font-size - 4px;

  .tag {
    padding-top: 10px;
    padding-left: 20px;
    font-size: $font-size - 5px;
    color: $link-color;

    .current-language {
      padding: 6px 4px;
      cursor: pointer;

      &:hover, &.clicked{
        background-color: $body-background-color;
        color: red;
        //margin-left: -1px;
        //border: 1px solid rgba(171, 171, 171, 0.8);
      }
    }
  }

  #nav-languages {
    display: none;
    position: absolute;
    //border: 1px solid rgba(171, 171, 171, 0.8);
    border-top-width: 0;
    left: 85px;
    top: 28px;
    font-size: $font-size - 5px;
    li {
      padding: 6px 4px ;
      background-color: $body-background-color;
      border-top: 1px solid rgba(171, 171, 171, 0.6);

      &.active a{
        color: red;
      }
    }
  }

  #nav-titles {
    margin-top: 10px;

    li {
      line-height: 1.2;

      &:hover {
        background-color: $body-background-color;
      }

      a {
        display: block;
        padding: 5px 5px 5px 20px;
        height: 100%;
        &:link, &:visited {
          color: $nav-color;
        }  
        &:hover {
          color: $link-color;
        }

        .number {
          float: left;
          margin-right: 5px;
        }

        .title {
          display: block;
          overflow: hidden;
        }
      }
    }
    .current {
      background-color: $body-background-color;
      a:link, a:visited {
        color: $link-color;
      }
    }
  }
}

/* header */
header {
  padding: 1.5em 0 0;
  text-align: left;
  margin-left: $side-width;
  font-family: Consolas, 'Courier New', Courier, monospace;
  h1 {
    margin: 0 5%;
    padding: 30px 0 30px 5px;
    font-size: 1.5em;
    line-height: 1.5;
    background-color: $code-block-background-color;
    border-radius: 5px;
    color: #fff;
    
    span {
      color: $promote-color;
    }
    .title {
      padding: 0 5px;
      letter-spacing: 5px;
      color: red;
    }
  }
}

/* content */
#content {
  margin-left: $side-width;

  article {
    &:first-child {
      margin-top: 0em;
      padding-top: 1.5em;
      border: 0;
      h1 {
        padding-top: 0; 
      }
    }
    margin: 30px 5%;
  
    padding-bottom: 10px;
    line-height: 1.5;
    text-align: justify;
    text-justify: ideographic;
    border-top: 1px solid $seperator-color;
    h1 {
      color: $title-color;
      font-size: 1.5em;
      padding-top: 0.8em;
      display: inline-block;

      code {
        font-size: 1em;
      }
      
      a {
        margin-left: 10px;
        visibility: hidden;
      }
      &:hover {
        a {
          visibility: visible;
        }
      }
    }
    section {
      padding-top: 10px;

      p {
        margin: 20px 0;
      }

      blockquote {
        p {
          margin: 10px 0;
        }
        margin: 10px;
        padding: 10px;
        border-top: 1px dashed $seperator-color;
        border-bottom: 1px dashed $seperator-color;
        font-size: $font-size - 2px;
      }
      
      pre {
        margin: 10px;
        padding: 20px;
        background-color: $code-block-background-color;
        border-radius: 5px;
        code {
          padding: 0;
          background-color: transparent;
        }
      }

      ul {
        font-size: $font-size - 2px;
        margin-left: 10px;
        li {
          padding-left: 20px;
        }
      }
    }
  }
}

/* footer */
footer {
  margin-left: $side-width + 50px;
  margin-right: 5%;
  font-size: $font-size - 4px;
  border-top: 2px dashed gray;
  padding: 20px 0;
}

// Syntax Highlighting

.str { color: #1DC116; }
.kwd { color: #E83737; }
.com { color: #428BDD; }
.typ { color: #FFAA3E; }
.lit { color: #D1EDFF; }
.pun { color: #D1EDFF; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
.pln { color: rgba(241, 225, 106, 1); }

@media screen and (max-width: 1180px) {
  pre {
    overflow-x: auto;
  }

  #content article h1 a{
    visibility: visible;
  }

  #content article section * {
    word-wrap: break-word;
    word-break: break-all;
  }

  #content article section pre *{
    word-wrap: normal;
  }
}

@media screen and (max-width: 979px) {
  header{
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    padding: 1.5em 0 0 0;
    @include transition-macro(all 0.2s ease);
    &.activeMenu {
      @include transform-macro(translateX($nav-width));
    }
    h1 {
      border: 0;
      @include margin-side($ipad-margin);
    }
  }

  #nav-bar {
    display: block;
    @include transition-macro(all 0.2s ease);
    &.activeMenu {
      @include transform-macro(translateX($nav-width));
    }
  }

  #nav-main {
    top: 0;
    z-index: 9999;
    width: $nav-width;
    @include transform-macro(translateX(0 - $nav-width));
    @include transition-macro(all 0.2s ease);
    &.activeMenu {
      @include transform-macro(translateX(0px)) ;
    }
  }

  #content {
    width: 100%;
    overflow: auto;
    margin-left: 0;
    @include transition-macro(all 0.2s ease);
    &.activeMenu {
      @include transform-macro(translateX($nav-width));
    }

    article {
      @include margin-side($ipad-margin);
    }
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: $font-size - 4px;
  }

  header {
    h1 {
      @include margin-side($iphone-margin);
    }
  }

  #content {
    article {
      @include margin-side($iphone-margin);

      section blockquote, section ul {
        font-size: $font-size - 4px;
      }
    }
  } 
}